* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.bg-section-1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(37, 37, 37);
}

.bg-section-1 img {
    width: 300px;
    position: absolute;
    right: 15%;
}

.bg-section-2 {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background: url('./assets/images/bg1.png');
    background-size: cover;
    overflow: hidden;
}

.bg-section-2 .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: -100px;
    right: 0px;
}

#img {
    position: fixed;
    display: none;
}

.section-moveup {
    position: fixed;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translate(0, -50%);

    display: none;
}

#img2 {
    width: 300px;
    height: 300px;
    background: url('./assets/images/1.jpg');
    background-size: cover;
}

.section-moveup .text-area {
    padding-left: 100px;
}

.section-moveup .text-area .title {
    font-size: 2rem;
    color: rgb(135, 183, 223);
}

.section-moveup .text-area .label {
    display: block;
    font-size: 1.5rem;
    margin-top: 20px;
    color: rgb(196, 196, 196);
}

.bg-section-3 {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('./assets/images/bg2.png');

    display: none;
}

@keyframes show-first {
    0% {
        transform: rotate(-90deg) scaleX(1);
        width: 100px;
        right: 100px;
        top: 10px;
    }
    20% {
        transform: rotate(-90deg) scaleX(1);
        width: 150px;
        right: 40%;
        top: 10vh;
    }
    21% {
        transform: scaleX(-1) rotate(-90deg);
    }
    50% {
        transform: scaleX(-1) rotate(-90deg);
        width: 200px;
        right: -220px;
        top: 20vh;
    }
    51% {
        transform: rotate(-90deg) scaleX(1);
    }
    100% {
        transform: rotate(-90deg) scaleX(1);
        width: 250px;
        right: 110%;
        top: 80vh;
    }
}

@keyframes hide-first {
    100% {
        transform: scaleX(1);
        width: 50px;
        height: 47px;
        right: 0;
        top: 0;
    }
    67% {
        transform: scaleX(1);
        width: 70px;
        height: 65.5px;
        right: 40%;
        top: 10vh;
    }
    66% {
        transform: scaleX(-1);
    }
    34% {
        transform: scaleX(-1);

        width: 100px;
        height: 94px;
        right: 20%;
        top: 20vh;
    }
    33% {
        transform: scaleX(1);
    }
    0% {
        transform: scaleX(1);
        width: 140px;
        height: 131px;
        right: 100%;
        top: 80vh;
    }
}

@keyframes fadeup {
    0% {
        top: 100%;
        transform: translate(0, 0);
        opacity: 0;
    }
    20% {
        top: 50%;
        transform: translate(0, -50%);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadedown {
    100% {
        top: 100%;
        transform: translate(0, 0);
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}